%btn {
  display: inline-block;
  font-family: $primary-font;
  font-weight: 800;
  border-radius: 30px;
  padding: 8px 35px;
  margin: 15px 0;
  font-size: 0.8rem;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-yellow {
  @extend %btn;
  background-color: $yellow;

  &:hover {
    background-color: darken($yellow, 10%);
  }
}

.btn-black {
  @extend %btn;
  background-color: $black;
  color: $yellow;

  &:hover {
    background-color: lighten($black, 15%);
  }
}
