@import 'settings';
@import '~foundation-sites/scss/foundation';
@import 'utility.scss';
@import 'button.scss';
@import 'section-title.scss';
@include foundation-everything(true);

body {
  background-color: $yellow;
  font-family: $primary-font;
  font-weight: 800;
  color: $black;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;

  ul {
    display: flex;
    justify-content: space-evenly;
  }
  li {
    padding: 15px;
  }

  a:hover {
    color: $light-gray;
  }
}

#header {
  padding-bottom: 20px;

  div {
    font-size: 2rem;
    margin: 0;
  }
  p {
    font-family: $secondary-font;
    font-size: 0.8rem;
    margin: 0;
  }
}

#releases {
  background-color: $light-gray;
  padding: 30px;

  div {
    margin: 6px;
    padding: 0;
  }
}

#tour {
  background-color: $black;
  padding: 30px;
}

#videos {
  background-color: $dark-gray;
  padding: 30px;
}

#store {
  background-color: $yellow;
  padding: 30px;
}

#photos {
  background-color: $black;
  padding: 30px;
}

#subscribe {
  background-color: $dark-gray;
  padding: 30px;
}

#footer {
  background-color: $black;
  color: $yellow;
  display: flex;
  justify-content: center;

  a {
    color: $yellow;
  }

  div {
    margin: 7px;
  }
}
