@import 'settings';
@import '~foundation-sites/scss/foundation';
@import 'utility.scss';
@import 'button.scss';
@import 'section-title.scss';
@import 'form-input.scss';
@import 'container.scss';
@include foundation-everything(true);

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: $yellow;
  font-family: $primary-font;
  font-weight: 800;
  color: $black;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

nav {
  width: 100vw;
  background-color: $yellow;
  opacity: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;

  a:hover {
    color: $light-gray;
  }

  .nav-menu {
    display: flex;
    .menu-items {
      display: flex;
      li {
        margin: 15px;
      }
    }

    #hidden {
      display: flex;
    }

    .menu-icon {
      display: none;
    }
  }

  .logo {
    width: 100px;
  }
}

@media (max-width: 500px) {
  #footer {
    flex-direction: column;
    align-items: center;
  }

  nav {
    .logo {
      width: 80px;
    }
    .nav-menu {
      .menu-icon {
        display: flex;
      }
      .menu-items {
        display: none;
      }
      #hidden {
        position: absolute;
        right: 0px;
        top: 80px;
        width: 100%;
        height: auto;
        background-color: $yellow;
        display: flex;
        flex-direction: column;
        text-align: right;

        li {
          margin: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  #last-line {
    border-style: none none solid none;
    border-width: 0.1px;
    border-color: rgba(246, 200, 42, 0.5);
  }
}

#header {
  width: 100%;
  padding-bottom: 20px;

  div {
    font-size: 2rem;
    margin: 0;
  }
  p {
    font-family: $secondary-font;
    font-size: 0.8rem;
    margin: 0;
  }
}

#releases {
  background-color: $light-gray;
  padding: 30px;

  div {
    margin: 6px;
    padding: 0;
  }
}

#tour {
  background-color: $black;
  color: $white;
  padding: 30px;

  a {
    color: $yellow;
    margin: 10px;
  }

  .stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
    padding: 5px 0px 20px;
  }

  .date {
    padding-left: 0;
  }
  .ticket {
    display: flex;
    justify-content: space-evenly;
  }
  .line {
    border-style: none none solid none;
    border-width: 0.1px;
    border-color: rgba(246, 200, 42, 0.5);
  }
}

#videos {
  background-color: $dark-gray;
  padding: 30px;
}

#store {
  background-color: $yellow;
  padding: 30px;
}

#photos {
  background-color: $black;
  padding: 30px;

  .photo-container {
    div {
      margin: 7px;
      padding: 0;
    }
  }
}

#subscribe {
  background-color: $dark-gray;
  color: $yellow;

  input[type='email'],
  select {
    @extend .form-input;
  }

  input[type='submit'] {
    @extend .btn-yellow;
    padding: 8px 75px;
    border: none;
  }

  p {
    font-size: 0.7rem;
    margin: 15px 0 0;
  }

  ::placeholder {
    color: $yellow;
  }

  .check-boxes {
    display: flex;
    margin-top: 10px;
    label {
      @extend .primary-yellow;
      font-weight: 800;
    }
  }
  .submit-btn {
    margin-top: 15px;
  }
}

#footer {
  background-color: $black;
  color: $yellow;
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 15px;

  a {
    color: $yellow;
  }

  div {
    margin: 7px;
  }
}
